site_name: SNAPy Documentation
copyright: Copyright &copy; 2023 Kevin Sutjijadi

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - footnotes
  - tables
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - def_list
  
theme:
  name: material
  font:
    text: Hanken Grotesk
  logo: assets/IconW_64.png
  favicon: assets/IconW_12.png
  features:
    - content.code.copy
    - content.code.select
    - navigation.footer


nav:
  - Introduction: "index.md"
  - Functions Documentation:
    - Structure: "Pages/func_structure.md"
    - Network Analysis: "Pages/func_na.md"
    - Other Analysis: "Pages/func_ca.md"
    - Routine Analysis: "Pages/func_routines.md"
    - Utilites: "Pages/func_ut.md"
  - Method Documentation: "Pages/methods.md"
  - Examples:
    - Sample Uses: "Pages/smpl_use.md"
    - Sample Cases: "Pages/smpl_case.md"
  - About: "Pages/about.md"


extra:
  social:
    - icon: fontawesome/brands/github 
      link: https://github.com/kevinsutjijadi/SNAPy
